.App {
  text-align: center;
  background-color: #094ae3;
}

html * {
  font-family: Arial;
  box-sizing: border-box;
}
.btn {
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  color: white;
  background-color: blue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
  border-radius: 5px;
}
.btn:hover {
  background-color: white;
  color: black;
  transition: 0.8s;
}
.btn:focus {
  outline-color: transparent;
  outline-style: solid;
}
.btn-header {
  font-size: 0.8rem;
  position: relative;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00186f;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
